body{
    background-color: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
}

h4{
    color: aquamarine ;
}

.box1{
    border: 2px solid red;
    /* margin-top: 2%;
    margin-right: 2%;
    margin-bottom: 2%;
    margin-left: 2%; */

    margin: 10%;

    /* padding-top: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%; */

    padding: 3% 7% 3% 10%;

}

